body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}



.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #333;/*ddd;*/
}

.game {
  border: 2px solid purple;
}

.game-heading {
  font-style: italic;
  font-size: 1.5em;
  font-weight: bold;
  font-color: grey;

  background-color: lightgrey;


  text-shadow: 1px 1px purple;
  text-align: center;

  margin: 10px;
}

.game-section {
  display: flex;
  flex-direction: row;
  
  height: 350px;
  /*width: 400px;*/
  padding: 5px;
}

.game-board {
  margin-top: 60px;
  margin-left: 40px;
  width: 200px;
}

.game-info {
  margin-left: 20px;
  margin-top: 10px;

  width: 200px;
}

.game-info p {
  text-align: center;
  font-weight: bold;
}

.game-info li{
  margin:4px;
}
