.header {
    height: 40px;
    background-color: #ecf6fd;

    display: flex;
}

.header-text {
    font-size: 18px;
    line-height: 40px;

    margin: 0px 0px 0px 10px;
}

.header-user {
    font-size: 15px;
    line-height: 40px;

    margin-left: auto;
    margin-right: 10px;
}
