.app {
    display: flex;
}

.app-left {
    flex: 1;

    height: 100vh;
    border-right: 1px solid lightgrey;

    display: flex;
    flex-direction: column;
}

.app-right {
    flex: 3;

    height: 100vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}
