.app {
    display: flex;
}

.app-left {
    flex: 1;

    height: 100vh;
    min-width: 150px;
    overflow-y: auto;
    border-right: 1px solid lightgrey;

    display: flex;
    flex-direction: column;
}

.app-right {
    flex: 3;

    height: 100vh;
    min-width: 500px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}
